<div id="add-album-header">New Album</div>
<div id="add-album-input">
	{{input placeholder="Album name" value=albumName}}
</div>
<div id="add-files-checkbox">
	{{input type='checkbox' checked=checked}} Add files now?
</div>
<div id="add-album-button" {{action "addAlbum"}}>
	Add Album
</div>
