<div id="import-button-container">
	<input type="file" name="file" id="file" class="import-button" multiple>
	<label for="file">Import</label>
</div>
<div style="text-align: center;">
	or
</div>
<div id="drag-and-drop-container">

</div>
<div id="files-submit-button" {{action "uploadFiles"}}>
	Upload
</div>

