<div id="add-album-header">New Album</div>
<div id="add-album-input">
	{{input placeholder="Album name"}}
</div>
<div id="add-files-checkbox">
	{{input type='checkbox'}} Add pictures now
</div>
<div id="add-album-button">
	Create Album
</div>
