<div id="album-table">
	{{#each albums as |row|}}
		<div class="album-row">
			{{#each row as |album|}}
				{{#link-to 'dashboard.pictures.albums.album' album.name class="album"}}
					{{album-card name=album.name}}
				{{/link-to}}
			{{/each}}
		</div>
			
	{{/each}}
</div>
