<div id="add-album-header">New Album</div>
<div id="add-album-input">
	{{input placeholder="Album name"}}
</div>
<div id="add-files-checkbox">
	{{input type='checkbox' checked=checked}} Add pictures now
</div>
<div id="add-album-button" {{action "addAlbum"}}>
	Create Album
</div>
