<div id="dashboard-navlist">
	<ul>
			{{#link-to 'dashboard.pictures' current-when='dashboard.pictures' class="navbar-list-item"}}Pictures {{fa-icon "picture-o"}}{{/link-to}}
			{{#link-to 'dashboard.music' current-when="dashboard.music" class="navbar-list-item"}}Music {{fa-icon "music"}}{{/link-to}}
	</ul>
</div>
