<ul>
	<li class="navbar-list-item">
		{{#link-to 'dashboard.albums' current-when='dashboard.albums'}}Albums{{/link-to}}
	</li>
	<li class="navbar-list-item">
		{{#link-to 'dashboard.music' current-when="dashboard.music"}}Music{{/link-to}}
	</li>
</ul>
