<div id="photos-navbar-albums" class="photos-navbar-selected" {{action "setTab" "albums"}}>
	<b>Albums</b>
</div>
<div id="photos-navbar-music" class="photos-navbar-unselected" {{action "setTab" "music"}}>
	<b>Music</b>
</div>
