<ul>
	<li class="navbar-list-item">
		{{#link-to 'dashboard.pictures' current-when='dashboard.pictures'}}Pictures{{/link-to}}
	</li>
	<li class="navbar-list-item">
		{{#link-to 'dashboard.music' current-when="dashboard.music"}}Music{{/link-to}}
	</li>
</ul>
