<a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<div>
			{{fa-icon "music"}}
		</div>
		<div>
			{{fa-icon "caret-down"}}
		</div>
</a>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

	<li class="dropdown-item">
		Add Songs
	</li>	
</ul>
