<div id="add-pics-header">
	Add Pictures
</div>
<div>
	<input type="file" name="file" id="file"  class="import-button" multiple>
	<label for="file">Import</label>
</div>
<div>
	or
</div>
<div id="drag-and-drop-container">
	<b>Drag and Drop</b>

</div>
<div id="files-submit-button" {{action "uploadFiles"}}>
	Upload
</div>
