<a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<div id="camera-icon">
		{{fa-icon "camera"}}
	</div>
	<div>
		{{fa-icon "caret-down"}}
	</div>

</a>
<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
	<li class="dropdown-item">
		New Album
	</li>	
	<li class="dropdown-item">
		Add Pictures
	</li>	
</ul>
