#new-album-button {
	padding-left: 75%
}
#pictures-header {
	background: rgb(239, 234, 234);
}

#pictures-nav {
	display: flex;
	margin-top: 20px;
	padding-left: 20%;
	padding-right: 50%;
	a.active {
		background: white;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}
.pictures-nav-tab {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 5px;
	text-decoration: none;
	&:active {
		background: white;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

.album {
	width: 20%;
	margin-left: 7%;
	margin-right: 7%;
	text-decoration: none;
	color: black;
	.fa-folder {
		font-size: 70px;
		color: slategrey;
	}
	&:hover {
		background: lightgrey;
		border-radius: 5px;
	}
}
.picture {
	width: 20%;
	margin-left: 7%;
	margin-right: 7%;
	.fa-folder {
		font-size: 70px;
		color: slategrey;
	}
	&:hover {
		background: lightgrey;
		border-radius: 5px;
	}

}
#album-table {
}
.album-row {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
#picture-table {

}

.picture-row {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
table {
	width: 100%;
}
hr {
	margin-top: 0px;
	margin-bottom: 0px;

}
#dashboard-content-outlet {
	text-align: center;
}

.navbar-list-item {
}
.active {
	color: black;
}


.dashboard-content-container {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	background: white;
	border-radius: 5px;
	border: solid black .05px;
}
.photos-navbar-unselected {
	width: 20%;
	&:hover {
		background: lightgrey;
	}
}

.photos-navbar-selected {
	width: 20%;
	background: darkgrey;
}
#photos-navbar-all {
}
#photos-navbar-albums {
}
#photos-navbar-music {
}
.center-navbar {

}
.dashboard-navbar {
	text-align: center;
	border: solid .1px darkgrey;
	border-radius: 5px;
	display: flex;
	height: 50px;
	background: black;

	ul {
		display: flex;
		list-style: none;
		a {
			border-top: 1px solid darkgrey;
			border-bottom: 1px solid darkgrey;
			background: black;
			color: white;
			padding-top: 16px;
			padding-bottom: 16px;
			padding-left: 10px;
			padding-right: 10px;
			text-decoration: none;
			font-family: "Lucida Console", Monaco, monospace;
			font-size: 14px;
			&:hover {
				background: #2e3c2e;
			}

		}
		a.active {
			background: #1c251c; 
		}

	}
}
.fa-sign-out {
	font-size: 20px;
	padding-top: 25%;
	padding-left: 40%;
	&:hover {
		color: darkgreen;

	}
}
#logout-icon {
	height: 100%;
}
body {
	margin: 0px;
}
#nav-header-list {
	width: 7.5%;
	padding-left: 92.5%;
	height: 100%;

}

.top-navbar {

}
.header {
	height: 50px;
	background: #f3f1f1;
	border-radius: 5px;
	border-bottom: solid darkgrey .05px;
}
.ember-application {
}

.login-page {
	background: darkgrey;
	margin-top: 10%;
	width: 45%;
	margin-left: 27.5%;
	margin-right: 27.5%;
	text-align: center;
	border: solid .25px;
	border-radius: 10px;
	height: 300px;
}
