 @import "ember-modal-dialog/ember-modal-structure";
 @import "ember-modal-dialog/ember-modal-appearance";

 #files-submit-button {
	 &:hover {
		 background: #7aca7a;
	 }
	 margin-top: 15px;
	 text-align: center;
	 margin-left: 42.5%;
	 margin-right: 42.5%;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 border: .25px solid black;
	 background: lightgreen;
	 border-radius: 5px;
 }
 #drag-and-drop-container {
	 width: 480px;
	 height: 215px;
	 margin-top: 20px;
	 background: lightgrey;
	 border-radius: 5px;
 }
 #import-button-container {
	 padding-left: 45%;
 }
 .import-button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
 }
 .import-button + label {
	 height: 30px;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 padding-left: 3px;
	 padding-right: 3px;
	 border: solid .25px black;
	 border-radius: 5px;
	 background: lightgrey;
	 margin-right: 430px;
	 &:hover {
		 background: darkgrey;
	 }
 }
 #import-button {
	 height: 30px;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 padding-left: 3px;
	 padding-right: 3px;
	 border: solid .25px black;
	 border-radius: 5px;
	 background: lightgrey;
	 margin-right: 430px;
	 &:hover {
		 background: darkgrey;
	 }
	 #import-button-input {

	 }
 }
 #navbars {
	.top-navbar {
		height: 40px;
		background: lightgrey;
		border-bottom: .5px solid darkgrey;
		#nav-header-list {
			display: flex;
			height: 100%;
			padding-left: 75%;
			padding-right: 15%;
			.pictures-dropdown {
				width: 35px;
				#dropdownMenuLink {
					height: 70%;
					display: flex;
					color: black;
					margin-top: 15%;
					margin-bottom: 15%;
					#camera-icon {
						margin-right: 2px;
					}

					&:hover {
						color: darkgrey;
						
					}
					.fa-camera {
					}
					.fa-caret-down {
						
					}
				}
				.dropdown-menu {
					padding-left: 5px;
					min-width: 110px;
					margin-right: 15px;
				}
			}
			.music-dropdown {
				width: 35px;
				#dropdownMenuLink {
					height: 70%;
					display: flex;
					color: black;
					margin-top: 15%;
					margin-bottom: 15%;
					#music-icon {
						margin-right: 2px;
					}

					&:hover {
						color: darkgrey;
						
					}
					.fa-music {
					}
					.fa-caret-down {
					}
				}
				.dropdown-menu {
					min-width: 110px;
					padding-left: 5px;
					margin-right: 15px;
				}
			}
			#logout-icon {
				height: 100%;
				width: 33%;

				#logout-icon-container {
					&:hover {
						color: darkgrey;
					}
					height: 70%;
					margin-left: 15%;
					margin-right: 15%;
					margin-top: 15%;
					margin-bottom: 15%;
				}
			}
		}
	}
	.center-navbar {
		height: 80px;
		background: rgba(211, 211, 211, 0.32);
		#dashboard-navlist {
			height: 100%;
			margin-right: 20%;
			margin-left: 20%;
			ul {
				height: 100%;
				width: 170px;
				margin-bottom: 0px;
				padding-left: 0px;
				padding-top: 50px;
				display: flex;
				list-style: none;
				.navbar-list-item {
					&:hover {
						text-decoration: none;
					}
					color: #4a4848;
					width: 50%;
					padding-top: 2px;
					text-align: center;
				}
				.navbar-list-item.active {
					color: black;
					border-top: 2px solid darkgreen;
					border-right: .01px solid darkgrey;
					border-left: .01px solid darkgrey;	
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
					border-bottom: 1px solid white;
					background: white;
					text-decoration: none;
				}
			}
		}
	}
}

#new-album-button {
	padding-left: 75%
}
#pictures-header {
	.pictures-header-top {
		display: flex;
		.buttons {
			margin-left: 50px;
			display: flex;
			.new-album-button {
				padding-top: 10px;
				margin-right: 5px;
				a {
					padding-left: 5px;
					padding-right: 5px;
					padding-top: 5px;
					padding-bottom: 5px;
					color: black;
					text-decoration: none;
					background: darkgrey;
					border-radius: 5px;
					&:hover {
						background: lightgrey;
					}
				}

			}
			.add-pictures-button {
				padding-top: 10px;
				margin-right: 5px;

				a {
					border-radius: 5px;
					padding-left: 5px;
					padding-right: 5px;
					padding-top: 5px;
					padding-bottom: 5px;
					color: black;
					text-decoration: none;
					background: darkgrey;
					&:hover {
						background: lightgrey;
					}
				}

			}
		}
	}
	h2 {
		width: 60%;
		margin-top: 0px;
		text-align: left;
		padding-left: 30px;
	}
	border-radius: 5px;
	background: rgb(239, 234, 234);
}

#pictures-nav {
	display: flex;
	padding-left: 10%;
	padding-right: 70%;
	a {
		color: darkgrey;
		padding-left: 10px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding-right: 10px;
		padding-bottom: 5px;
		padding-top: 5px;
		text-decoration: none;

	}
	a.active {
		color: #675d5d;
		border-bottom: solid 2px black;
		font-style: bold;

	}
}
.pictures-nav-tab {
}
.album {
	width: 20%;
	margin-left: 7%;
	margin-right: 7%;
	text-decoration: none;
	color: black;
	.fa-folder {
		font-size: 70px;
		color: slategrey;
	}
	&:hover {
		background: lightgrey;
		border-radius: 5px;
	}
}
.picture {
	width: 20%;
	margin-left: 7%;
	margin-right: 7%;
	.fa-folder {
		font-size: 70px;
		color: slategrey;
	}
	&:hover {
		background: lightgrey;
		border-radius: 5px;
	}

}
#album-table {
}
.album-row {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
#picture-table {

}

.picture-row {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
table {
	width: 100%;
}
hr {
	margin-top: 0px;
	margin-bottom: 0px;

}
#dashboard-content-outlet {
	text-align: center;
}

.active {
	color: black;
}


.dashboard-content-container {
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	background: white;
	border-radius: 5px;
	border: solid #756161 .05px;
}
.photos-navbar-unselected {
	width: 20%;
	&:hover {
		background: lightgrey;
	}
}

.photos-navbar-selected {
	width: 20%;
	background: darkgrey;
}
#photos-navbar-all {
}
#photos-navbar-albums {
}
#photos-navbar-music {
}
.dashboard-navbar {
	text-align: center;
	border: solid .1px darkgrey;
	border-radius: 5px;
	display: flex;
	height: 50px;
	background: black;

	ul {
		display: flex;
		list-style: none;
		a {
			border-top: 1px solid darkgrey;
			border-bottom: 1px solid darkgrey;
			background: black;
			color: white;
			padding-top: 16px;
			padding-bottom: 16px;
			padding-left: 10px;
			padding-right: 10px;
			text-decoration: none;
			font-family: "Lucida Console", Monaco, monospace;
			font-size: 14px;
			&:hover {
				background: #2e3c2e;
			}

		}
		a.active {
			background: #1c251c; 
		}

	}
}
body {
	margin: 0px;
}

.header {
	height: 50px;
	background: #f3f1f1;
	border-radius: 5px;
	border-bottom: solid darkgrey .05px;
}
.ember-application {
}

.login-page {
	background: darkgrey;
	margin-top: 10%;
	width: 45%;
	margin-left: 27.5%;
	margin-right: 27.5%;
	text-align: center;
	border: solid .25px;
	border-radius: 10px;
	height: 300px;
}
.ember-modal-dialog {
	width: 500px;
	height: 400px;
}
.add-album-container {
	width: 350px;
	height: 200px;

}
#add-album-header {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 10%;
}

#add-album-input {
	margin-top: 0px;
	margin-bottom: 2%;
	input {
		border-radius: 5px;
		border: 1px solid lightgrey;
		margin-left: 27%;
		margin-right: 27%;
	}
}

 #add-album-button {
	 &:hover {
		 background: lightgrey;
	 }
	 border: .5px solid black;
	 border-radius: 5px;
	 margin-left: 35%;
	 margin-right: 35%;
	 text-align: center;
 }
 #add-files-checkbox {
	 padding-left: 33%;
	 padding-right: 33%;
	 margin-bottom: 5%;

 }
