.navbar-list-item {
	padding-top: 14px;
}
.active {
	color: black;
}


.dashboard-content-container {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
}
.photos-navbar-unselected {
	width: 20%;
	&:hover {
		background: lightgrey;
	}
}

.photos-navbar-selected {
	width: 20%;
	background: darkgrey;
}
#photos-navbar-all {
}
#photos-navbar-albums {
}
#photos-navbar-music {
}
.dashboard-navbar {
	text-align: center;
	border: solid .1px darkgrey;
	border-radius: 5px;
	display: flex;
	height: 50px;
	background: black;

	ul {
		display: flex;
		list-style: none;
		margin-top: 0px;
		margin-bottom: 0px;
		a {
			border-top: 1px solid darkgrey;
			border-bottom: 1px solid darkgrey;
			background: black;
			color: white;
			padding-top: 14px;
			padding-bottom: 18px;
			padding-left: 10px;
			padding-right: 10px;
			text-decoration: none;
			&:hover {
				background: #2e3c2e;
			}

		}
		a.active {
			background: #1c251c; 
		}

	}
}
.fa-sign-out {
	font-size: 20px;
	padding-top: 25%;
	padding-left: 40%;
	&:hover {
		color: darkgreen;

	}
}
#logout-icon {
	height: 100%;
}
body {
	margin: 0px;
}
#nav-header-list {
	width: 7.5%;
	padding-left: 92.5%;
	height: 100%;

}


.header {
	height: 50px;
	background: #f3f1f1;
	border-radius: 5px;
	border-bottom: solid darkgrey .05px;
}
.ember-application {
}

.login-page {
	background: darkgrey;
	margin-top: 10%;
	width: 45%;
	margin-left: 27.5%;
	margin-right: 27.5%;
	text-align: center;
	border: solid .25px;
	border-radius: 10px;
	height: 300px;
}
