<h1>Albums</h1>
<hr>
<div id="album-table">
	{{#each model as |row|}}
		<div class="album-row">
			{{#each row as |album|}}
				<div id="album">{{album.name}}</div>
			{{/each}}
		</div>
	{{/each}}
</div>
