<div id="pictures-header">
	<b>Pictures</b>
	<div id="pictures-nav">
		{{#link-to 'dashboard.pictures.index' class="pictures-nav-tab"}}All{{/link-to}}
		{{#link-to 'dashboard.pictures.albums' class="pictures-nav-tab"}}Albums{{/link-to}}
	</div>
</div>
{{outlet}}
