<div id="navbars">
	{{navbar-header logout="logout"}}
	{{dashboard-navbar changeTab="changeTab"}}
</div>
<div class="dashboard-content-container">
	<div id="dashboard-content-outlet">
		{{outlet}}
	</div>
</div>
