{{navbar-header logout="logout"}}
<div id="photos-route-container">
	<div id="photos-navbar-all">
		<b>All Photos</b>
	</div>
	<div id="photos-navbar-albums">
		<b>Albums</b>
	</div>
	<div id="photos-navbar-music">
		<b>Music</b>
	</div>
</div>
